.bg-image{
  background-image: url(https://images.unsplash.com/photo-1537420327992-d6e192287183?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  min-height: 60dvh; 
 background-size: cover;
 background-position: center;
}
.bg-space-image{
  background-image: url(https://images.unsplash.com/photo-1608178398319-48f814d0750c?q=80&w=1779&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  min-height: 60dvh; 
 background-size: cover;
 background-position: center;
}
.Phone-width{
  width: 7em;
}
.fonky{
  font-size: 10px;
}
.img-restraint{
  max-width: 70%;
  margin: 6em;
}
.funky{
font-size: 90px;
}
.Weird-size{
  height: 150px;
}